
__pycache__/acGlobals.cpython-310.pyc
__pycache__/acHardware.cpython-310.pyc
__pycache__/adam6052ModBus.cpython-310.pyc
__pycache__/adam6217ModBus.cpython-310.pyc
__pycache__/jsonPacker.cpython-310.pyc
__pycache__/jsonParser.cpython-310.pyc
__pycache__/sensorObjects.cpython-310.pyc
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
